body{
    font-family:'IBM Plex Sans Thai', sans-serif;
}

.logo{
    width:200px;
    height:200px;
    margin-bottom:40px;
    border-radius: 50%;
    object-fit:cover;
    box-shadow: 5px 3px 0px 0px rgb(81, 79, 79);
}

.container{

    background-image:   linear-gradient( to right, rgb(255, 255, 255), rgba(255,255,255,0.7)), url("images/BG1.png");
  
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh; 
    padding:128px;
    
}
@media screen and (max-width: 768px){
    .container{
        padding: 48px;
    }
}
.intro{
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.button{
    background-color: black;
    color:white;
    padding: 10px 22px;
    font-size:12px;
    text-decoration:none;
    border-radius: 6px;
}
@media screen and (max-width: 768px){
    .intro{
        font-size: 24px;
    }
}
.definition{
    font-size:18px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.caption{
    font-size: 18px;
    font-weight:300px;
    color:rgb(108, 100, 100);
    margin-bottom: 24px;
}

.contact{
    margin-bottom: 48px;
}
.contact-icon{
    margin-right: 12px;
    width:16px;
}

.containt{
    max-width: 500px;
}